<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Plugin configuration start -->
  <configSections>
    <section name="htmlOptimization" type="HtmlOptimization.Config.Sections.ConfigSection, HtmlOptimization" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>

  <htmlOptimization xmlns="urn:HtmlOptimization.Config">
    <compressModule compressionType="GZip">
      <extensions>
        <add value=".axd" process="false" compressionType="Deflate" />
        <add value=".aspx" process="false" compressionType="GZip" />
      </extensions>
    </compressModule>
    <minifyModule>
      <extensions>
        <add value=".axd" process="false" />
        <add value=".aspx" process="false" />
      </extensions>
    </minifyModule>
  </htmlOptimization>
  <!-- Plugin configuration end -->

  <appSettings>
  </appSettings>
  
  <system.webServer>
    <modules>
      <add name="MinifyModule" type="HtmlOptimization.HttpModules.MinifyModule, HtmlOptimization" />
      <add name="CompressModule" type="HtmlOptimization.HttpModules.CompressModule, HtmlOptimization" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>