<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Plugin configuration start -->
  <configSections>
    <section name="htmlOptimization" type="HtmlOptimization.Config.Sections.ConfigSection, HtmlOptimization" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <htmlOptimization xmlns="urn:HtmlOptimization.Config">
    <compressModule compressionType="GZip">
      <extensions>
        <add value=".axd" process="false" compressionType="Deflate"/>
        <add value=".aspx" process="false" compressionType="GZip"/>
      </extensions>
    </compressModule>
    <minifyModule>
      <extensions>
        <add value=".axd" process="false"/>
        <add value=".aspx" process="false"/>
      </extensions>
    </minifyModule>
  </htmlOptimization>
  <!-- Plugin configuration end -->

  <appSettings>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="MinifyModule" type="HtmlOptimization.Modules.MinifyModule, HtmlOptimization"/>
      <add name="CompressModule" type="HtmlOptimization.Modules.CompressModule, HtmlOptimization"/>
    </modules>
  </system.webServer>
</configuration>